html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bg {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(230, 230, 230);
}

#project {
  min-height: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 30px 0;
  background-image: linear-gradient(
    rgb(165, 183, 200),
    rgb(230, 230, 230),
    rgb(230, 230, 230)
  );
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

header.sticky {
  padding: 0;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 40px 0 -45px;
}

.header__navbar-list {
  list-style: none;
  margin-left: 40px;
}

.header__navbar-item {
  color: rgb(255, 217, 0);
  text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.1em;
  margin-top: 5px;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 1;
}

.header__navbar-item--list:hover > .header__info {
  display: block;
}

.header__navbar-item::before {
  content: "";
  height: 42px;
  width: 0;
  background: orangered;
  bottom: -10px;
  left: -2%;
  position: absolute;
  transition: 0.5s ease-in-out;
  z-index: -1;
}

.header__navbar-item:hover::before {
  width: 104%;
}

.header__navbar-item::after {
  content: "";
  height: 42px;
  width: 0;
  background: rgb(24, 205, 48);
  bottom: -10px;
  right: -4%;
  position: absolute;
  transition: 0.5s ease-in-out;
  transition-delay: 0.5s;
  z-index: -1;
}

.header__navbar-item:hover:after {
  width: 106%;
}

.header__navbar-item:hover {
  color: rgb(237, 237, 252);
  cursor: pointer;
  transform: scale(1.3);
  transition: all 0.5s;
}

.header__navbar-item--search:hover .search {
  display: block;
}

.header__info {
  text-shadow: none;
  position: absolute;
  top: 210%;
  left: -25%;
  width: 200px;
  background-image: linear-gradient(0, white, rgb(208, 208, 208));
  border: 1px solid #d3d3d3;
  animation: infogrow ease-in 0.5s;
  display: none;
  transform-origin: top left;
}

.header__info::before {
  content: "";
  display: block;
  position: absolute;
  right: 38px;
  top: -38px;
  width: 132px;
  height: 40px;
}

.header__info-list {
  list-style: none;
}

@keyframes infogrow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.header__info-item {
  margin: 40px 8px 40px 15px;
  font-size: medium;
  font-weight: 500;
  color: black;
}

.header__info-item:hover {
  color: #db0760;
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.5s;
}

.header__navbar-logo {
  margin-top: 0;
}

.header__navbar-imglogo {
  list-style: none;
  margin-top: 7px;
  text-decoration: none;
}

.imglogo {
  height: 50px;
  width: auto;
}

.imglogo:hover {
  transform: scale(1.3);
  transition: all 0.5s;
  background-color: rgb(255, 0, 0);
}

.fa-circle-info,
.fa-magnifying-glass {
  text-shadow: 3px 3px 3px rgb(211, 97, 4);
  font-size: 1.4em;
  margin-right: 5px;
  color: rgb(33, 33, 212);
}

.fa-magnifying-glass {
  margin-right: 7px;
}

.fa-brands {
  margin-right: 5px;
  color: rgb(33, 33, 212);
  font-size: 1.2rem;
}

.fa-phone {
  margin-right: 7px;
}

.search {
  text-shadow: none;
  position: absolute;
  top: 210%;
  left: -73.5%;
  width: 200px;
  background-image: linear-gradient(0, white, rgb(208, 208, 208));
  border: 1px solid #d3d3d3;
  animation: searchgrow ease-in 0.5s;
  display: none;
  transform-origin: top right;
}

@keyframes searchgrow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.search::before {
  content: "";
  display: block;
  position: absolute;
  right: 5px;
  top: -38px;
  width: 132px;
  height: 40px;
}

.search-list {
  list-style: none;
  margin-left: -10px;
}

.search-item {
  margin: 40px 13px 40px 20px;
  font-size: 15px;
  font-weight: 500;
  color: black;
}

.search-item:hover {
  color: #db0760;
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.5s;
}

.intro-list {
  list-style: none;
  display: none;
}

ul.header__info-list li:hover > ul.intro-list {
  display: block;
}

.intro {
  position: absolute;
  width: 700px;
  height: 380px;
  background-image: url(https://www.linkpicture.com/q/cool-background_4.png);
  left: 100%;
  top: -32.5px;
  color: black;
  padding-right: 20px;
}

.p1 {
  text-align: center;
}

.imgdiv {
  display: flex;
  margin: 0px 50px 0px 50px;
}

.imgsland {
  width: 300px;
}
.imgsland2 {
  width: 300px;
}

.imgsland:hover,
.imgsland2:hover {
  -ms-transform: scale(1.6);
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
  transition: all 0.5s;
}

.p2 {
  margin-top: 5px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.p3 {
  font-size: 13px;
}

.news {
  position: absolute;
  width: 600px;
  height: 380px;
  background: url(https://www.linkpicture.com/q/cool-background_4.png);
  left: 100%;
  top: -82px;
  color: black;
  padding: 10px 100px 0 40px;
  display: flex;
  justify-content: space-around;
  z-index: -2;
}

.fb {
  position: absolute;
  width: 180px;
  height: 321px;
  background-image: linear-gradient(0, rgb(216, 216, 216), rgb(161, 161, 161));
  left: 100%;
  top: -130px;
  color: black;
  padding-right: 20px;
}

.ytb {
  position: absolute;
  width: 180px;
  height: 346px;
  background-image: linear-gradient(0, rgb(216, 216, 216), rgb(161, 161, 161));
  left: 100%;
  top: -180px;
  color: black;
  padding-right: 20px;
}

.contact {
  position: absolute;
  width: 700px;
  height: 380px;
  background-image: url(https://www.linkpicture.com/q/cool-background_4.png);
  left: 100%;
  top: -231px;
  color: black;
  padding-right: 20px;
}

.imgnews1,
.imgnews2,
.imgnews3,
.imgnews4 {
  width: 190px;
  height: 110px;
}

.imgnews1:hover,
.imgnews2:hover,
.imgnews3:hover,
.imgnews4:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.5s;
}

.pnews {
  font-size: 8px;
  font-weight: bold;
  color: black;
  margin: 10px 0 0 6px;
}

.divnewstop {
  margin-bottom: 10px;
}

.div123 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 230px;
  height: 170px;
  background: rgba(214, 242, 255, 255);
  border-radius: 75px;
}

.div123:hover::before {
  display: block;
  content: "";
  position: absolute;
  width: 230px;
  height: 170px;
  background: #f0378d;
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}

.imgfb {
  width: 200px;
}

.imgfb:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.5s;
}

.imgytb {
  width: 200px;
}

.imgytb:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.5s;
}

.contact {
  padding: 0px 10px 0 10px;
}

.imgmaps {
  width: 450px;
  margin-top: 11px;
  margin-bottom: -6px;
  margin-left: 125px;
}

.imgmaps:hover {
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 0.5s;
}

.pcontact {
  text-align: center;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: -7px;
  color: #9f0f0f;
}

.fa-building {
  color: blue;
  margin-right: 5px;
}

.fa-flag {
  color: red;
  margin-right: 5px;
}

.fa-file-contract {
  color: rgb(102, 90, 90);
  margin-right: 5px;
}

.fa-mobile-screen-button {
  color: rgb(0, 0, 0);
  margin-right: 5px;
}

.fa-envelope {
  color: rgb(238, 63, 10);
  margin-right: 5px;
}

ul.search-list li:hover > ul.search-item-list {
  display: block;
}

.search-item-list {
  list-style: none;
  display: none;
}

.ancuu {
  position: absolute;
  width: 130px;
  height: 60px;
  background-image: linear-gradient(0, rgb(216, 216, 216), rgb(161, 161, 161));
  right: 128%;
  top: -55px;
  color: black;
  padding-right: 20px;
}

.ancuu2 {
  position: absolute;
  width: 130px;
  height: 60px;
  background-image: linear-gradient(0, rgb(216, 216, 216), rgb(161, 161, 161));
  right: 128%;
  top: 10px;
  color: black;
  padding-right: 20px;
}

.nera {
  position: absolute;
  width: 130px;
  height: 60px;
  background-image: linear-gradient(0, rgb(216, 216, 216), rgb(161, 161, 161));
  right: 128%;
  top: -55px;
  color: black;
  padding-right: 20px;
}

.nera2 {
  position: absolute;
  width: 130px;
  height: 60px;
  background-image: linear-gradient(0, rgb(216, 216, 216), rgb(161, 161, 161));
  right: 128%;
  top: 10px;
  color: black;
  padding-right: 20px;
}

.royal {
  position: absolute;
  width: 130px;
  height: 60px;
  background-image: linear-gradient(0, rgb(216, 216, 216), rgb(161, 161, 161));
  right: 128%;
  top: -55px;
  color: black;
  padding-right: 20px;
}

.royal2 {
  position: absolute;
  width: 130px;
  height: 60px;
  background-image: linear-gradient(0, rgb(216, 216, 216), rgb(161, 161, 161));
  right: 128%;
  top: 10px;
  color: black;
  padding-right: 20px;
}

.ancuu:hover,
.ancuu2:hover,
.nera:hover,
.nera2:hover,
.royal:hover,
.royal2:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.5s;
}

.search-over::before {
  content: "";
  display: block;
  position: absolute;
  width: 190px;
  height: 125px;
  right: 135px;
  bottom: -52px;
}

.header__info-item-over::before {
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 75px;
  left: 60px;
  bottom: -25px;
}

.ulsearch {
  display: flex;
  list-style: none;
}

.imgsearch {
  width: 60px;
  height: 40px;
  margin: 11px 5px 0 -35px;
}

.psearch {
  margin: 25px -17px 0 0;
  font-size: 9px;
}

.motsanpham {
  position: absolute;
  width: 650px;
  height: 371px;
  background-image: url(https://www.linkpicture.com/q/cool-background_4.png);
  right: 130%;
  top: -176px;
  color: black;
  padding: 10px 0 0 20px;
}

.ulmotsanpham {
  display: flex;
  list-style: none;
}

.imgmotsanpham {
  height: 190px;
  width: 280px;
  margin: 10px 23px 0 -10px;
}

.imgmotsanpham:hover {
  -ms-transform: scale(1.7);
  -webkit-transform: scale(1.7);
  transform: scale(1.7);
  transition: all 0.5s;
}

.premotsanpham {
  margin-left: -180px;
  font-family: "Times New Roman", Times, serif;
}

.red-text {
  color: red;
}

.motsanpham5 {
  position: absolute;
  width: 650px;
  height: 371px;
  background-image: url(https://www.linkpicture.com/q/cool-background_4.png);
  right: 130%;
  top: -224px;
  color: black;
  padding: 10px 0 0 20px;
}

.motsanpham6 {
  position: absolute;
  width: 650px;
  height: 371px;
  background-image: url(https://www.linkpicture.com/q/cool-background_4.png);
  right: 130%;
  top: -272px;
  color: black;
  padding: 10px 0 0 20px;
}

.motsanpham7 {
  position: absolute;
  width: 650px;
  height: 371px;
  background-image: url(https://www.linkpicture.com/q/cool-background_4.png);
  right: 130%;
  top: -320px;
  color: black;
  padding: 10px 0 0 20px;
}

ul.search-item-list li:hover > ul.ulmenu4 {
  display: block;
}

.ulmenu4 {
  list-style: none;
  display: none;
}

.menu4over::before {
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 170px;
  right: 320px;
  top: -100px;
}

.menu4over-li2::before {
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 160px;
  right: 320px;
  top: -40px;
}

.divmenu4 {
  position: absolute;
  width: 550px;
  height: 340px;
  background-image: url(https://www.linkpicture.com/q/cool-background_4.png);
  color: black;
  padding: 10px 0 0 20px;
  right: 340px;
  top: -35px;
}

.divmenu4-nera {
  position: absolute;
  width: 550px;
  height: 340px;
  background-image: url(https://www.linkpicture.com/q/cool-background_4.png);
  color: black;
  padding: 10px 0 0 20px;
  right: 340px;
  top: -80px;
}

.divmenu4-royal {
  position: absolute;
  width: 550px;
  height: 340px;
  background-image: url(https://www.linkpicture.com/q/cool-background_4.png);
  color: black;
  padding: 10px 0 0 20px;
  right: 340px;
  top: -130px;
}

.ulmenu4-final {
  list-style: none;
  display: flex;
}

.img-final {
  height: 170px;
  width: 250px;
  margin: 10px 33px 0 -26px;
}

.img-final:hover {
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 0.5s;
}

.pre-final {
  margin-left: -243px;
  font-family: "Times New Roman", Times, serif;
}

#containerbody {
  padding-top: 130px;
  padding-bottom: 340px;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
}

.gallery-display-area {
  overflow: hidden;
  height: 623px;
  width: full;
}

.gallery-wrap {
  width: 500%;
  animation: slideshow 72s infinite;
}

.imgslide {
  float: left;
  height: 510px;
  width: 1526px;
  display: flex;
  -webkit-box-reflect: below 0
    linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

@keyframes slideshow {
  6% {
    margin-left: 0;
  }
  17% {
    margin-left: -100%;
  }
  29% {
    margin-left: -200%;
  }
  40% {
    margin-left: -300%;
  }
  54% {
    margin-left: -400%;
  }
  65% {
    margin-left: -300%;
  }
  77% {
    margin-left: -200%;
  }
  89% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0%;
  }
}

.separate {
  height: 112px;
  background-image: linear-gradient(
    rgb(230, 230, 230),
    rgb(150, 150, 150),
    rgb(230, 230, 230)
  );
}

.row-separate {
  float: left;
  width: 100%;
}

.boxcenter-separate {
  width: 85%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.box-separate1 {
  width: 14%;
  float: left;
}

.box-separate2 {
  width: 18%;
  float: left;
}

.box-separate3 {
  width: 14%;
  float: left;
}

.box-separate4 {
  width: 18%;
  float: left;
}

.box-separate5 {
  width: 16%;
  float: left;
}

.box-separate6 {
  width: 20%;
  float: left;
}

.large-separate {
  font-size: 50px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 27px;
  color: rgb(0, 2, 146);
}

.small-separate {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 43px;
  color: #ffffff;
}

.products {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul.products li {
  flex-basis: 25%;
  margin-bottom: 8px;
}

.product-img {
  position: relative;
  height: 270px;
  width: 100%;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
  z-index: -1;
}

.product-info {
  background-color: rgb(230, 230, 230);
  list-style: none;
  display: flex;
  padding-inline-start: 0;
  padding-top: 3.5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  justify-content: space-between;
  text-align: center;
}

ul.product-info li {
  flex-basis: 45%;
}

.info-redtext {
  color: red;
  font-weight: bold;
}

.product-thumb {
  position: relative;
}

.product-img-hover {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 120px;
}

.product-thumb:hover .product-img {
  filter: brightness(0.3);
  transform: translateY(10%);
}

.product-thumb:hover .product-img-hover {
  opacity: 1;
}

.product-info-hover {
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  width: 280px;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 315px;
  width: 100%;
  background-image: linear-gradient(0, rgb(248, 248, 248), rgb(208, 208, 208));
  padding-top: 20px;
}

.row {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.boxcenter {
  width: 85%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #bc0000;
}

.boxfooter1 {
  width: 14%;
  float: left;
}

.boxfooter2 {
  width: 61%;
  float: left;
}

.boxfooter3 {
  width: 25%;
  float: left;
}

.textcenter {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #bc0000;
}

.logoslandred {
  width: 80px;
  height: auto;
  margin-top: 20px;
}

.bocongthuong {
  width: 130px;
}

.footer-link {
  color: #bc0000;
}

.address {
  margin-bottom: 7px;
  font-size: 14px;
}

.address2 {
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 14px;
}

.line {
  width: 80%;
  size: 10px;
  color: #9f0f0f;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #a29da0 0%, #c7c7c7 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

@media (max-width: 1280px) {
  .container {
    display: none;
  }
}

@media (max-width: 768px) {
  .products {
    display: block;
  }
  .boxfooter1 {
    width: 100%;
  }
  .boxfooter2 {
    width: 100%;
  }
  .boxfooter3 {
    width: 100%;
    padding-top: 20px;
  }
  .separate {
    display: none;
  }
  .header__navbar-list {
    display: none;
  }
  .header__navbar {
    justify-content: center;
  }
}
